@using ApiReader.Models
@using Newtonsoft.Json.Linq;
@model IEnumerable<ApiReader.Models.GitHubRepoModel>

@{
    ViewBag.Title = "Top 25 GitHub Repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top25Repos</h2>

@{ 
    var data = (List<GitHubRepoModel>)ViewData["Message"];   
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>            
            @*<th scope="col">Owner</th>*@
            <th scope="col">Stars</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GitHubRepoModel repo in data)
        {
        <tr>
            <th scope="row"> @repo.Id</th>
            <td><a href="@Html.DisplayFor(modelItem => repo.Html_Url)">@Html.DisplayFor(modelItem => repo.Name)</a></td>
            @*<td>@Html.DisplayFor(modelItem => repo.Owner_Login)</td>*@
            <td>@Html.DisplayFor(modelItem => repo.Stargazers_Count)</td>
        </tr>
        }
    </tbody>
</table>

